body, html  {
    height: calc(100% - 2em);
    margin: 0%;
}

body    {
    background-color: #ffffff;
}

figure  {
    margin: 0;
}

main    {
    padding-left: 55px;
    padding-top: 75px;
    padding-right: 260px;
}

.profile_nav    {
    background-color: #05345c;
    border: none;
    height: 65px;

}

.events {
    background-color: #05345c;
    border: none;
    position: absolute;
    right: 250px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 20px;

}
.logo   {
    position: absolute;
    left: 10px;
    top: 10px;
}

#profileDropDown { /* .profile_nav_dropdown */
	display: none;
    position: fixed;
    top: 65px;
    right: 0px;
    background-color: #05345c;
    min-width: 160px;
    width: 250px;
	z-index: 1;
}

.show {
    display: block;
}

#chatNavigation {
    background-color: #f3f3f3;
    float: left;
    border: 1px solid black;
    margin-right: -1px;
    width: 5%;
}
#newLectures {
    border: 1px solid black;
    margin-bottom: -1px;
}
#followedModules {
    border: 1px solid black;
    margin-bottom: -1px;
}
#noteActivity {
    border: 1px solid black;
}
#pageNavigation{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #05345c;
    height: 65px;
    margin-bottom: -1px;
    width:100%;
	z-index: 1;
}

.profile_nav    {
    width: 250px;
    height: 65px;
    position: fixed;
    right: 0;
    padding-left: auto;
}

.profile_pictrue    {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    float: left;
}

.my-online-status   {
    float: left;
    vertical-align: middle;
    text-align: center;
    alignment: center;
    height: 64px;
    line-height: 70px;
    padding-left: 10px;
}

.my-details {
    float: left;
}

.my-username    {
    float: left;
    font-family: Calibri;
    font: 18px bold italic;
    color: black;
    height: 32px;
    padding-left: 5px;
    line-height: 40px;
}

.my-code    {
    float: bottom;
    font-family: Calibri;
    font: 18px bold italic;
    color: black;
    height: 32px;
    padding-left: 5px;
}

#quickNav   {
    position: fixed;
    top: 65px;
    float: left;
    background-color: #f3f3f3;
    height: 100%;
    width: 55px;
}

.title  {
    font-family: Calibri;
    color: black;
    font: 36px bold italc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}
#friendList {
    position: fixed;
    right: 0px;
    width: 260px;
    background-color: #f3f3f3;
    top: 65px;
    height: 100%;
    vertical-align: top;
    font-family: Calibri;
}

#friendList {
    position: fixed;
    right: 0px;
    width: 260px;
    background-color: #f3f3f3;
    top: 65px;
    height: 100%;
    vertical-align: top;
    font-family: Calibri;
}

#friendList a:link  {
     color: black;
     text-decoration: none;
 }

#friendList a:visited  {
    color: black;
    text-decoration: none;
}

#friendList a:active  {
    color: black;
    text-decoration: none;
}

.ghead, .fhead  {
    display: inline-grid;
    grid-template-columns: 150px auto;
}
.add    {
    padding-top: 15px;
}

.group, .friend  {
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.group_image, friend_image    {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
}

.group_text, .friends_text {
    width: 180px;
    float: left;
}

.group_online_statu, .friend_online_status    {
    float: left;
    alignment: center;
    height: 32px;
    line-height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.friend_image    {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
}


.group_name, .friend_name, .group_members   {
    padding-left: 15px;
}

.group_name, .group_members {
    width: 100%;
}

#search {
    background:url(Assets/Search_icon.png) no-repeat;
    cursor:pointer;
    border: none;
}

#addFriend  {
    background:url(Assets/addFriend.png) no-repeat;
    cursor:pointer;
    border: none;
}

.socialBar {
    border: 1px solid black;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
}

.quickIcon  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}





/* Search bar CSS */
/* CSS based upon https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar3 */

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
    position: absolute;
    left: 300px;
    top: 10px;
    flex: auto;
}

/* Style the submit button */
form.example button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    position: absolute;
    left: 500px;
    top: 10px;
    overflow-x: hidden;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}


/* CSS specific for main  */

.video  {
    overflow-y: hidden;
    overflow-x: hidden;
}

.module {
    background-color: #f3f3f3;
    height: 33%;
}

.collection, .collection:link, .collection:visited {
    background-color: #f3f3f3;
    width: 200px;
    font-family: Calibri;
    font-size: 12pt;
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    text-align: center;
    display: table;
    content: "";
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    position: center;
}

.x-scroll  {
    float: left;
}

/*
    Classes i, .right and .left were taken from
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows
    Last visited on: 13/03/2019
 */

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}